{% extends 'base.html' %}
{% load static %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}

        <div class="top-bar">

            <div class="logo">
                CreditFlow
            </div>

            <div class="info-box-vert-temp">

                <div class="info-box-hor">
                    <div class="form-group-hor">
                        <label for="cash" class="inp-lbl">Конкурсная масса</label>

                        <div class="type-input">
                            <img src="{% static 'img/cash-white.png' %}" alt="">
                            <input type="number" name="cash" class="form-control" id="cash" value="{{ cash }}">
                        </div>
                    </div>

                    <div class="form-group-hor">
                        <label for="amount" class="inp-lbl">Количество кредиторов</label>

                        <div class="type-input">
                            <img src="{% static 'img/creditors-white.png' %}" alt="">
                            <input type="number" name="amount" class="form-control" id="amount" value="{{ creditors_amount }}">
                        </div>
                    </div>
                </div>

                <div class="info-box-hor">
                    <button type="submit" class="btn-distribute">Распределить</button>
                    <button type="submit" class="btn-add">Добавить кредитора</button>
                    <button type="submit" class="btn-clear">Очистить все</button>
                </div>

                {{ response | safe }}

            </div>
        </div>

        <div class="creditors">

            {% for i in creditors_range %}
                <div class="info-box-vert">
                    <div class="form-group-vert">
                        <label for="name" class="inp-lbl">Название кредитора</label>

                        <div class="type-input">
{#                            <img src="{% static 'img/cash-white.png' %}" alt="">#}
                            <input type="text" name="creditor_{{ i }}_name" class="form-control" id="name" placeholder="Название">
                        </div>
                    </div>

                    <div class="form-group-vert">
                        <label for="value" class="inp-lbl">Долг</label>

                        <div class="type-input">
{#                            <img src="{% static 'img/cash-white.png' %}" alt="">#}
                             <input type="text" name="creditor_{{ i }}_value" class="form-control" id="value" placeholder="Долг">
                        </div>
                    </div>

                    <div class="form-group-vert">
{#                        <input type="checkbox" name="creditor_{{ i }}_is_percent" class="form-checkbox" id="is_percent">#}
                        <label for="type" class="inp-lbl">Тип комиссии</label>

                        <div class="select-input">
{#                            <img src="{% static 'img/cash-white.png' %}" alt="">#}
                            <select name="creditor_{{ i }}_type" id="type">
                                <option value="percent">Процент</option>
                                <option value="fixed">Фиксированнная плата</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group-vert">
                        <label for="percent_or_fee" class="inp-lbl">Размер комиссии</label>

                        <div class="type-input">
{#                            <img src="{% static 'img/cash-white.png' %}" alt="">#}
                             <input type="text" name="creditor_{{ i }}_percent_or_fee" class="form-control" id="percent_or_fee" placeholder="Плата или процент">
                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>

    </form>

{% endblock %}
