{% extends 'base.html' %}
{% load static %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}

        <div class="logo">
            CreditFlow
        </div>

        <div class="info-box-vert">

            <div class="form-group-vert">
                <label for="cash" class="inp-lbl">Конкурсная масса</label>

                <div class="type-input">
                    <img src="{% static 'img/cash-white.png' %}" alt="">
                    <input type="number" name="cash" class="form-control" id="cash" placeholder="Введите конкурсную массу" value="{{ cash }}">
                </div>
            </div>

            <div class="form-group-vert">
                <label for="amount" class="inp-lbl">Количество кредиторов</label>

                <div class="type-input">
                    <img src="{% static 'img/creditors-white.png' %}" alt="">
                    <input type="number" name="amount" class="form-control" id="amount" placeholder="Введите количество кредиторов" value="{{ creditors_amount }}">
                </div>
            </div>

            {{ response | safe }}

            <button type="submit" class="btn-primary">Далее</button>

        </div>

    </form>

{% endblock %}
